@charset "utf-8";

/* 共通項目 */
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

/* * {
    outline: 1px solid blue;
  } */

p, h1, h2, h3, h4, a ,summary{
  margin: 0;
  color: #505050;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 920px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  inner {
    padding: 0 20px;
  }
}
img {
  width: 100%;
  /* ↓これを書くと全画面になる */
  max-width: 100vw;
}

/* PC */
@media (min-width: 768px) {
  .pc-none {
    display: none!important;
  }
  .br-sp {
    display: none;
  }
}
/* SP */
@media (max-width: 767px) {
  .sp-none {
    display: none!important;
  }
}

/* 共通 */
html {
  font-size: 10px;
  scroll-behavior: smooth;
  color: #505050;
  font-weight: 500;
  overflow-x: hidden;
}
p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
}
/* 見出し */
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  color: #505050;
}

h2::before {
  position: absolute;
  top: 4px;
  margin-left: -46px;
  content: url(../images/icon_01.svg)
}

h2::after {
  position: absolute;
  top: 4px;
  margin-left: 20px;
  content: url(../images/icon_01.svg);
}
/* 背景色 */
.bg-green {
  background: rgba(13, 150, 160,0.1);
}

/* header */
#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
}
@media (max-width: 767px) {
  #header {
    width: 100%;
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  align-items: center;
  margin-left: calc(99 / 1080* 100vw);
  margin-right: calc(60 / 1080* 100vw);
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header-content {
    max-width: 100%;
    margin-left: calc(22 / 375* 100vw);
  }
}
.title {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  color: inherit;
  line-height: calc(33/ 18 );
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.title-icon {
  margin-left: 9.9rem;
}
@media (max-width: 767px) {
  .title-icon {
    margin: 0;
  }
}
.title-text {
  margin-left: 1.1rem;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  font-weight: bold;
}
@media (max-width: 767px) {
  .title-text {
    font-size: 2.0rem;
    line-height: calc(33 / 20);
    margin-left: 9.5px;
    margin-top: 8px;
    margin-bottom: 9px;
  }
}
.title-img {
  height: 50px;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  height: 5rem;
}
.header-title:hover {
  color: #a9a9a9;
  opacity: 0.5;
}
.header-title-icon {
  width: 25.49px;
}

.nav-list li {
  list-style: none;
}
.nav-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header-nav-btn {
  align-items: center;
  display: flex;
  height: 5rem;
  background: #fff;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.header-nav-btn:hover {
  color: #a9a9a9;
  opacity: 0.5;
}
.header-nav-list {
  font-size: 1.4rem;
  line-height: calc(33 / 14);
  column-gap: 1rem;
  display: flex;
  margin-right: 6rem;
}
.title:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .header-inner {
    margin-left: 0;
  }
  .header-nav {
    display: none;
  }
}

section {
  scroll-margin-top: 50px; /* ヘッダーの高さに合わせる */
}


/* main */
#main {
  width: 100%;
  height: auto;
  position: relative;
}
h1 {
  font-weight: bold;
  line-height: calc(33 / 25);
  font-size: calc(25 / 1080* 100vw);
}
@media (max-width: 767px) {
  h1 {
   font-size: calc(20 / 375* 100vw);
   line-height: calc(27 / 20);
  }
}
.main-img {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

.summary2 {
  font-weight: bold;
  font-size: 4rem;
  line-height: calc(60 / 40);
  color: #0D96A0;
  display: block;
  margin-top: 8px;
  font-size: calc(40 / 1080* 100vw);
}
@media (max-width: 767px) {
  .summary2 {
    font-size: calc(30 / 375* 100vw);
    line-height: calc(40 / 30);
  }
}
  .main-box {
  position: relative;
}
.main-textarea {
  position: absolute;
  top: calc(152 / 1080* 100vw);
  background-color: rgb(255, 255, 255, 0.7);
  width: calc(492 / 1080 *100vw);
  height: calc(210 / 1080 * 100vw);
  padding-left: calc(99 / 1080* 100vw);
  padding-top: calc(27 / 1080* 100vw);
}
@media (max-width: 767px) {
  .main-textarea {
    top: unset;
    z-index: 99;
    left: 0;
    bottom: 0;
    padding-left: calc(20 / 375* 100vw);
    padding-top: calc(22 /375* 100vw);
    width: calc(311 / 375 *100vw);
    height: calc(152 / 375 *100vw);
  }
}

#about {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 58px;
}
@media (max-width: 767px) {
  #about {
      padding-top: 46px;
      padding-bottom: 39px;
    }
  }
.about_title {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: calc(50 / 30);
  color: #0D96A0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about_title {
    font-size: 2.5rem;
    line-height: calc(35 / 25);
    margin-bottom: 0;
    text-align: center;
  }
}
.about-text {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
  white-space: nowrap;
}
@media (max-width: 767px) {
  .about-text {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    text-align: left;
    margin-top: 16px;
    z-index: 1;
  }
}
  .about_title::before,
  .about_title::after {
    content: none;
}

.about-box {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 0;
}
.about-box::after {
  content:'';
  position: absolute;
  top: 66%;
  right: -3%;
  width: 90px;
  height: 90px;
  background: url(../images/icon_03.svg) no-repeat right 5px ;
  z-index: -1;
}
@media (max-width: 1079px) {
  .about-box::after {
    right: 3%;
  }
}

@media (max-width: 767px) {
  .about-box::after {
    top: 75%;
    right: 3%;
    background: url(../images/icon_05.svg)no-repeat right 14%;
    z-index: 0;
  }
}


/* strength */
#strength {
  width: 100%;
  padding-top: 61px;
  padding-bottom: 67px;
}
@media (max-width: 767px) {
  #strength {
    padding-top: 51px;
    padding-bottom: 41px;
  }
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  color: #505050;
}
@media (max-width: 767px) {
  .section-title{
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #505050;
  }
}
.strength-contents {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .strength-contents {
    margin-top: 44px;
  }
}
.strength figure {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .strength figure {
    flex-flow: column;
  }
}
.strength figure:nth-of-type(2) {
  margin-top: 44px;
}
.strength figure:nth-of-type(3) {
  margin-top: 46px;
}
.strength figure figcaption {
  width: 50%;
  padding: 0 44px 0 0;
}
@media (max-width: 767px) {
  .strength figure figcaption {
    width: 100%;
    padding: 0;
  }
}
.strength figure:nth-of-type(2) figcaption {
  padding: 0 0 0 4.5rem;
}
@media (max-width: 767px) {
  .strength figure:nth-of-type(2) figcaption {
    padding: 0;
  }
}
.strength figure picture {
  width: 50%;
}
@media (max-width: 767px) {
  .strength figure picture {
    width: 100%;
  }
}

.strength_title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: calc(33 / 22);
  margin-bottom: 6px;
  white-space: normal;       /* 自然に改行 */
  /* word-break: keep-all;      単語を分割せず改行（日本語でも有効） */
  line-break: strict;        /* 行末禁則処理を厳密に */
}
@media (max-width: 767px) {
  .strength_title {
    font-size: 2.0rem;
    line-height: calc(30 / 20);
    text-align: center;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
  }
}
.summary3 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
  margin-top: 13px;
}
@media (max-width: 767px) {
  .summary3 {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .strength figure figcaption {
    position: relative;
    top: 7px; /* 上に移動 */
  }
}
@media (max-width: 767px) {
  .strength figure:nth-of-type(1),
  .strength figure:nth-of-type(3) {
    flex-flow: column-reverse;
  }
  .strength figure:nth-of-type(2) {
    margin: 50px 0;
  }
}

/* service */
#service {
  padding-top: 64px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  #service {
    padding-top: 46px;
    padding-bottom: 35px;
  }
}
.service-box {
  width: 30%;
}
@media (max-width: 767px) {
  .service-box {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .service-box:nth-of-type(2),
  .service-box:nth-of-type(3) {
    margin-top: 39px;
  }
}
.service-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 6%;
  text-align: center;
  margin-top: 49px;
}
@media (max-width: 767px) {
  .service-flex {
    display: block;
    margin-top: 43px;
  }
}

.service_title {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: calc(25 / 20);
  margin-top: 17px;
}
@media (max-width: 767px) {
  .service_title {
    line-height: calc(30 / 20);
    margin-top: 29px;
  }
}
.service-about {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: left;
  line-height: calc(30 / 17);
  margin-top: 7px;
}
@media (max-width: 767px) {
.service-about {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    margin-top: 6px;
  }
}


/* news */
#news {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #E6F4F5;
}
@media (max-width: 767px) {
  #news {
    padding-top: 45px;
    padding-bottom: 50px;
  }
}
.news-date {
  margin-top: 42px;
}
@media (max-width: 767px) {
  .news-date {
    margin-top: 42.5px;
  }
}
.title1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  color: #505050 ;
}
.news-item {
  border-top: 1px solid #707070;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  height: 100%;
}
@media (max-width: 767px) {
  .news-item {
    margin: 0;
    width: 100%;
    display: block;
    padding: 21.5px 10px 23px 10px;
  }
}
.news-item a {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .news-item a {
    flex-direction: column;
  }
}
.news-item:hover {
  color: #a9a9a9;
  opacity: 0.5;
}
.news-item:last-of-type {
  border-bottom: 1px solid #707070;
}

.news-list {
  border-top: 1px solid #707070; /* 全体の上線 */
}

.news-item time {
  display: block;
  font-size: 1.7rem;
  line-height: calc(25 / 17);
  font-weight: bold;
  margin-left: 5px;
}
@media (max-width: 767px) {
  .news-item time {
    width: 100%;
    font-size: 1.7rem;
    margin-left: 0;
    margin-top: 10px;
  }
}
.news-item h3 {
  font-size: 2.0rem;
  font-weight: bold;
  white-space: nowrap;
  line-height: calc(25/ 20);
  color: #0D96A0;
  margin: 0 49px 0 26px;
  width: 16rem;
}
@media (max-width: 767px) {
  .news-item h3 {
    font-size: 2.0rem;
    width: 100%;
    margin: 0;
    margin-top: 2px;
    text-align: left;
  }
}
.news-item p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  margin: 0;
  flex: 1;
  min-width: 0;
  white-space: normal;
  /* overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 2行で省略 */
  color: #505050;
}
@media (max-width: 767px) {
  .news-item p {
    width: 100%;
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    margin-top: 6.5px;
  }
  .news-item:nth-of-type(5) .news-text {
    white-space: nowrap;
  }
}

@media (max-width: 374px) {
  .news-item p {
    white-space: normal;
    word-break: break-word; /* はみ出しを防ぐ */
  }
}

  /* access */
#access {
  padding-top: 62px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  #access {
    padding-top: 44px;
    padding-bottom: 50px;
  }
}
.access__title {
  font-size: 2.5rem;
  font-weight: bold;
}
#access figure {
  display: flex;
  justify-content: center;
  /* ↑これがあると中央よりになる。そのため、width:390px;がないと右にずれる。 */
  gap: clamp(20px, 4vw, 46px);
  align-items: flex-start;
  margin-top: 47px;
  align-items: stretch;
}
@media (max-width: 767px) {
  #access figure {
    flex-direction: column;
  }
}
#access iframe {
  border: 0;
  display: block;    /* 不要な余白防止 */
}
.map-wrap {
  position: relative;
  width: 100%;
  width: 440px;
  aspect-ratio: 440 / 300; /* 幅440:高さ300の比率を保つ */
}
@media (max-width: 767px) {
  .map-wrap {
    /* max-width: 100%; */
    width: 100%;
  }
}
.map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#access figure figcaption {
  width: 390px;
  /* ↑これがないとコンテンツが右側にずれる。上の部分で中央寄せにしているため。 */
  flex-direction: column;
}
@media (max-width: 767px) {
  #access figure figcaption {
    width: 100%;
  }
}
.access-info__title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height:  calc(33 / 22);
  margin-top: 1px;
}
@media (max-width: 767px) {
  .access-info__title {
    margin-top: 6px;
  }
}
.access-info__address-text {
  font-size: 1.8rem;
  margin-top: 13px;
  white-space: normal;
  font-weight: 500;
  line-height: calc(27 / 18);
}
@media (max-width: 767px) {
  .access-info__address-text {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
  }
}
.span-br {
  display: inline-block;
}
.access-info__tel {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 15px;
  line-height: calc(27 / 18);
  white-space: nowrap;
}
@media (max-width: 767px) {
  .access-info__tel {
    margin-top: 6px;
    font-size: 1.6rem;
    line-height: calc(27 / 16);
  }
}
.access-info__tel a {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: calc(40 / 25);
  color: #0D96A0;
  margin-left: 0;
  pointer-events: none;
}
@media (max-width: 767px) {
  .access-info__tel a {
    pointer-events: auto;
  }
}

.access-info__tel a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

.access-info__mail {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 9px;
  line-height: calc(27 / 18);
}
@media (max-width: 767px) {
  .access-info__mail {
    font-size: 1.6rem;
    margin-top: 5px;
    line-height: calc(24 / 16);
  }
}
.access-info__mail a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.access-info__hours {
  margin-top: 26px;
  padding: 18px 2px 9px;
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .access-info__hours {
    margin-top: 16px;
    display: flex;
    padding: 12px 2px 9px;
    flex-direction: column;
    gap: 1px;
  }
}
.access-info__hours:last-of-type {
  border-bottom: 1px solid #707070;
}
.access-info__hours p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(40 / 18);
}
@media (max-width: 767px) {
  .access-info__hours p {
    margin: 0;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}

/* contact */
#contact {
  padding-top: 61px;
  padding-bottom: 81px;
  width: 100%;
}
@media (max-width: 767px) {
  #contact {
    padding-top: 44px;
    padding-bottom: 51px;
  }
}
.contact__title {
  font-size: 2.5rem;
  font-weight: bold;
}
.contact__head {
  text-align: center;
  margin-top: 26px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
}
@media (max-width: 767px) {
  .contact__head {
    text-align: left;
    margin-top: 41px;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}
.contact form {
 margin-top: 41px;
}
@media (max-width: 767px) {
  .contact form {
    margin-top: 29px;
  }
}
.form-group {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .form-group {
    display: grid;
    margin-top: 15px;
  }
}
.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .form-row {
    display: grid;
  }
}
.contact form label {
  font-size: 2rem;
  font-weight: bold;
  color: #505050;
  white-space: nowrap;
  line-height: calc(33 / 20);
  flex: 0 0 140px; /* 固定幅 */
  /* margin-top: 4px; */
}
@media (max-width: 767px) {
  .contact form label {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
}
.contact form input {
  height: 40px;
}
@media (max-width: 767px) {
  .contact form input {
    margin-left: 0;
    height: 50px; /* ← ここをカンプの高さに合わせて変更 */
    padding: 8px 12px; /* ← 内側の余白も影響するので調整 */
    box-sizing: border-box; /* ← border/padding を含めて高さを固定 */

  }
}
.contact form input,
.contact form textarea {
  width: 100%;
  flex: 1;
  background: #fff;
  padding: 8px 12px;
  /* ↑入力欄の最初の文字の上、左の余白 */
  box-sizing: border-box;
  font-size: 1.6rem;
  /* ↑入力欄の文字の大きさ */
  font-family: inherit;
  /* ↑フォントも継承 */
  resize: none;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .contact form input,
  .contact form textarea {
    margin-left: 0;
  }
}
.contact form textarea {
  height: 300px;
}

.contact form .button {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: calc(33 / 25);
  width: 200px;
  height: 50px;
  background: #0D96A0;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  margin: 49px auto 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .contact form .button {
    width: 100%;
    height: 41px;
    font-size: 2.0rem;
    line-height: calc(26 / 20);
    margin: 52px auto 0;
  }
}
.contact form .button:hover {
  color: #a9a9a9;
  opacity: 0.5;
  /* background: red; */
}

.space1 {
  display: inline-block;
  padding-left: 1.3em;
}
@media (max-width: 767px) {
  .space1 {
    padding-left: 0.9em;
  }
}
.space2 {
  display: inline-block;
  padding-left: 0.3em;
}
.space3 {
  display: inline-block;
  padding-left: 0.8em;
}
.space4 {
  display: inline-block;
  padding-left: 0.8em;
}
.space5 {
  display: inline-block;
  padding-left: 0.5em;
}
.contact form .button:hover {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}


/* footer */
footer {
  background-color: #505050;
  text-align: center;
  padding: 65px 0 80px;
}
@media (max-width: 767px) {
  footer {
    padding-top: 45px;
    padding-bottom: 69px;
  }
}
.footer-box {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
  width: 737px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 18px;
    width: 100%;
  }
}
.footer-box a {
  font-size: 2.0rem;
  font-weight: bold;
  color: #ffffff;
  line-height: calc(33 / 20);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .footer-box a {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
}

.footer-box a:hover {
  opacity: 0.6;
  background-color: #505050;
}
.footer-nav-list {
  display: flex;
  column-gap: 15px;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer-nav-list {
    column-gap: 18px;
    flex-wrap: wrap;
    margin-top: 2px;
  }
}
.border {
  max-width: 740px;
  width: 90%;
  border-top: 1px solid #fff;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .border {
    max-width: 335px;
    width: 100%;
  }
}
.copyright {
  font-size: 2.0rem;
  font-weight: bold;
  color: #ffffff;
  line-height: calc(33 / 20);
  margin-top: 28px;
}
@media (max-width: 767px) {
  .copyright {
    /* font-size: 1.6rem; */
    font-size: clamp(1.4rem, 4.27vw, 1.6rem);
    line-height: calc(33 / 16);
    margin-top: 16px;
  }
}
.footer-contents {
  margin-top: 7px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer-contents {
    margin-top: 27px;
  }
}
.sns-item {
  display: flex;
  transition: all 0.5s ease-in-out;
}
.sns-item:hover {
  opacity: 0.6;
}
.sns-item a {
  display: inline-block; /* リンクを画像サイズに合わせる */
}

.sns-item img {
  display: block; /* インライン画像の余白を消す */
}


