@charset "utf-8";

/* 共通項目 */
body {
  margin: 0;
  font-family: "YuGothic","Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

* {
    outline: 1px solid blue;
  }

p, h1, h2, h3, h4, a ,summary{
  margin: 0;
  color: #505050;
}

a {
  text-decoration: none;
}

.inner {
  width: 910px;
  max-width: 100%;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 15px;
}
img {
  width: 100%;
  /* ↓これを書くと全画面になる */
  max-width: 100vw;
}

/* PC */
@media screen and (min-width: 768px) {
  .pc-none {
    display: none!important;
  }
  .br-sp {
    display: none;
  }
}

/* 共通 */

html {
  font-size: 10px;
  scroll-behavior: smooth;
  color: #505050;
  font-weight: 500;
  overflow-x: hidden;
}
p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
}
/* 見出し */
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.32;
  position: relative;
  color: #505050;
}
.about_title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: calc(50 / 30);
  color: #505050;

}

h2::before {
  position: absolute;
  top: 4px;
  margin-left: -46px;
  content: url(../images/icon_01.svg)
}

h2::after {
  position: absolute;
  top: 4px;
  margin-left: 20px;
  content: url(../images/icon_01.svg);
}
/* 背景色 */
.bg-green {
  background: rgba(13, 150, 160,0.1);
}

/* header */
#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  align-items: center;
  margin-left: calc(99 / 1080* 100vw);
  margin-right: calc(60 / 1080* 100vw);
  margin: 0 auto;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  color: inherit;
  line-height: calc(33/ 18 );
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.title-icon {
  /* display: flex; */
  margin-left: 9.9rem;
}
.title-text {
  margin-left: 1.1rem;
}
.title-img {
  height: 50px;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title-icon {
  width: 25.49px;
}

.nav-list li {
  list-style: none;
}
.nav-list li:not(:last-of-type) {
  margin-right: 15px;
}
.header-nav-btn {
  align-items: center;
  display: flex;
  height: 5rem;
  background: #fff;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.header-nav-btn:hover {
  color: #a9a9a9;
  opacity: 0.5;
}
.header-nav-list {
  font-size: 1.4rem;
  line-height: calc(33 / 14);
  column-gap: 1rem;
  display: flex;
  margin-right: 6rem;
}
.title:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* main */
#main {
  width: 100%;
  height: auto;
  position: relative;
}
h1 {
  font-weight: bold;
  line-height: calc(33 / 25);
  font-size: calc(25 / 1080* 100vw);
}
.main-img {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}
.summary2 {
  font-weight: bold;
  line-height: calc(60 / 40);
  color: #0D96A0;
  display: block;
  margin-top: 8px;
  font-size: calc(40 / 1080* 100vw);
}
.main-box {
  position: relative;
}
.main-textarea {
  position: absolute;
  top: calc(152 / 1080* 100vw);
  background-color: rgb(255, 255, 255, 0.7);
  width: calc(492 / 1080 *100vw);
  height: calc(210 / 1080 * 100vw);
  padding-left: calc(99 / 1080* 100vw);
  padding-top: calc(27 / 1080* 100vw);
}


#about {
  width: 100%;
  position: relative;
  padding-top: 5.7rem;
  padding-bottom: 6.3rem;
}

.about-box h2 {
  font-size: 3.0rem;
  font-weight: bold;
  line-height: calc(50 / 30);
  color: #0D96A0;
  margin-bottom: 11px;
}
.about-text {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
  position: relative;
}
.about_title::before,
.about_title::after {
  content: none;
}

.about-box {
  text-align: center;
  width: 100%;
}
.footpath {
  position: absolute;
  top: 55%;
  left: 84%;
}
/* .footpath img {
  width: 120px;
  width: 83px;
  height: auto;
} */
.about-box {
  text-align: center;
  width: 100%;
  /* position: relative; */
  /* background: url("images/icon_02.svg") no-repeat right 20px center, #fdd; */
  /* background-size: 150px auto;  */
  /* min-height: 200px; */
}
.about-text::after {
  content:'';
  position: absolute;
  top: 50%;
  right: 5%;
  width: 90px;
  height: 90px;
  background: url(../images/icon_02.svg) no-repeat right 20px ;

}



/* strength */
#strength {
  width: 100%;
  padding-top: 66px;
  padding-bottom: 69px;
}
.strength-contents {
  margin-top: 50px;
}
.strength figure {
  display: flex;
  align-items: center;
}
.strength figure:nth-of-type(2) {
  margin: 46px 0;
}
.strength figure figcaption {
  width: 50%;
  padding: 0 3.5rem 0 0;
}
.strength figure:nth-of-type(2) figcaption {
  padding: 0 0 0 4.0rem;
}
.strength figure picture {
  width: 50%;
}
.strength_title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: calc(33 / 22);
}
.strength_title {
  white-space: normal;       /* 自然に改行 */
  word-break: keep-all;      /* 単語を分割せず改行（日本語でも有効） */
  line-break: strict;        /* 行末禁則処理を厳密に */
}
.summary3 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: calc(33 / 18);
  margin-top: 2rem;
}



/* service */
#service {
  padding-top: 63px;
  padding-bottom: 64px;
}
.service-box {
  width: 30%;
}
.service-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 6%;
  text-align: center;
  margin-top: 47px;
}
.service_title {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: calc(25 / 20);
  margin-top: 16px;
}
.service-about {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: left;
  line-height: calc(30 / 17);
  margin-top: 6px;
}


/* news */
#news {
  padding-top: 65px;
  padding-bottom: 67px;
  background-color: #E6F4F5;
}
.news-date {
  margin-top: 47.5px;
}
  /* ニュースリスト全体 */
#news .news-list {
  display: flex;
  flex-direction: column; /* スマホでは縦並び */
  gap: 20px;
}

.news-item {
  border-top: 1px solid #707070;
  padding: 14.5px;
  transition: all 0.5s ease-in-out;
  height: 100%;
}
.news-item a {
  display: flex;
  align-items: center;
}

.news-item:hover {
  color: #a9a9a9;
  opacity: 0.5;
}
.news-item:last-of-type {
  border-bottom: 1px solid #707070;
}
/* .news-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #707070;
  pointer-events: none;
}
.news-item:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #707070;
  pointer-events: none;
} */
.news-list {
  border-top: 1px solid #707070; /* 全体の上線 */
}

/* .news-item:not(:first-of-type)::before { */
/* .news-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #707070;
  pointer-events: none;
} */

/* .news-item:last-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #707070;
  pointer-events: none;
} */


.news-item time {
  display: block;
  font-size: clamp(1.1rem, 2vw, 1.7rem);
  line-height: calc(25 / 17);
  font-weight: bold;
  margin-left: 5px;
}

.news-item h3 {
  font-size: clamp(1.4rem, 2vw, 2.0rem);
  font-weight: bold;
  line-height: calc(25/ 20);
  color: #0D96A0;
  /* margin: 0 45px 0 27px; */
  margin: 0 27px 0 27px;
  width: 16rem;
}
/* .news-text { */
.news-item p {
  font-size: clamp(1.1rem, 2vw, 1.7rem);
  font-weight: 500;
  line-height: calc(30 / 17);
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行で省略 */
  width: 50rem;
  color: #505050;
}

/* .news-date dl dd:nth-of-type(2) {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 50rem;
  color: #505050;
} */


  /* access */
#access {
  padding-top: 64px;
  padding-bottom: 70px;
}
.access__title {
  font-size: 2.5rem;
  font-weight: bold;
}
#access figure {
  display: flex;
  justify-content: center;
  /* ↑これがあると中央よりになる。そのため、width:390px;がないと右にずれる。 */
  gap: clamp(20px, 4vw, 46px);
  align-items: flex-start;
  margin-top: 42px;
  align-items: stretch;
}

#access iframe {
  border: 0;
  display: block;    /* 不要な余白防止 */
}
.map-wrap {
  position: relative;
  width: 100%;
  max-width: 440px;
  aspect-ratio: 440 / 300; /* 幅440:高さ300の比率を保つ */
}

.map-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#access figure figcaption {
  width: 390px;
  /* ↑これがないとコンテンツが右側にずれる。上の部分で中央寄せにしているため。 */
  /* display: flex; */
  flex-direction: column;
}
.access-info__title {
  font-size: 2.2rem;
  font-weight: bold;
  line-height:  calc(33 / 22);
  margin-top: 6px;
}
.access-info__address-text {
  font-size: 1.8rem;
  margin-top: 13px;
  font-weight: 500;
  line-height: calc(27 / 18);
}
/* .access-info__address-text {

} */
.access-info__tel {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 15px;
  line-height: calc(27 / 18);
}
.access-info__tel a {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: calc(40 / 25);
  color: #0D96A0;
}

.access-info__tel a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .access-info__tel a {
    pointer-events: none;
  }
}

.access-info__mail {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 9px;
  line-height: calc(27 / 18);
}
.access-info__mail a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.access-info__hours {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 27px;
  padding: 18px 2px 9px;
  line-height: calc(40 / 18);
  border-top: 1px solid #707070;
}
.access-info__hours:last-of-type {
  border-bottom: 1px solid #707070;
}
.access-info__hours p {
  margin: 0 0 8px;
}



/* #access figure figcaption tel p {
  margin-top: 5px;
} */
/* @media (max-width: 768px) {
  #access figure figcaption tel p {
    margin-top: 5px;
} */


/* contact */
#contact {
  padding-top: 61px;
  padding-bottom: 81px;
  width: 100%;
}
.contact__title {
  font-size: 2.5rem;
  font-weight: bold;
}
.contact__head {
  text-align: center;
  margin-top: 26px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: calc(30 / 17);
}

.contact form {
 margin-top: 26px;
}
.form-group {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.contact form .form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contact form label {
  font-size: 2rem;
  font-weight: bold;
  color: #505050;
  white-space: nowrap;
  flex: 0 0 140px; /* 固定幅 */
}
.contact form input {
  height: 40px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  flex: 1;
  background: #fff;
  padding: 8px 12px;
  /* ↑入力欄の最初の文字の上、左の余白 */
  box-sizing: border-box;
  font-size: 1.6rem;
  /* ↑入力欄の文字の大きさ */
  font-family: inherit; 
  /* ↑フォントも継承 */
  resize: none;
  margin-left: 32px;
}

.contact form textarea {
  height: 300px;
}

.contact form .button {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: calc(33 / 25);
  width: 200px;
  height: 50px;
  background: #0D96A0;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  margin: 50px auto 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.contact form .button:hover {
  color: #a9a9a9;
  opacity: 0.5;
  /* background: red; */
}

.space1 {
  display: inline-block;
  padding-left: 1.3em;
}
.space2 {
  display: inline-block;
  padding-left: 0.4em;
}
.space3 {
  display: inline-block;
  padding-left: 1em;
}
.contact form .button:hover {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}


/* footer */
#footer {
  background-color: #505050;
  text-align: center;
  padding: 65px 0 80px;
}
.footer-box {
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid #ffffff; */
  padding-bottom: 20px;
  width: 737px;
  margin: 0 auto;
}
.footer-box a {
  font-size: 2.0rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.65;
  transition: all 0.5s ease-in-out;
}
.footer-box a:hover {
  opacity: 0.6;
  background-color: #505050;
}
.footer-nav-list {
  display: flex;
  column-gap: 15px;
  justify-content: center;
}
.border {
  max-width: 740px;
  width: 90%;
  border-top: 1px solid #fff;
  margin: 0 auto;
}
.copyright {
  font-size: 2.0rem;
  font-weight: bold;
  color: #ffffff;
  line-height: calc(33 / 20);
  margin-top: 20px;
}
.footer-contents {
  margin-top: 15px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}
.sns-item {
  display: flex;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.sns-item:hover {
  opacity: 0.6;
}


/* SP */
@media screen and (max-width: 767px) {
  /* 共通 */
  .sp-none {
    display: none!important;
  }
  /* * {
    outline: 1px solid blue;
  } */
/* ↑全体の枠のラインを出すときに使用する */
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: calc(33 / 25);
  }
  .inner {
    padding: 0 20px;
    box-sizing: border-box;
  }

  /* header */
  #header {
    width: 100%;
  }
  .header-inner {
    margin-left: 0;
  }
  .header-content {
    /* max-width: 375px; */
    max-width: 100%;
    margin-left: calc(22 / 375* 100vw);
  }
  .title-text {
    font-size: 2.0rem;
    line-height: calc(33 / 20);
    margin-left: 9.5px;
  }
  .title-icon {
    margin: 0;
  }
  .header-nav {
    display: none;
  }

   /* main */
   h1 {
    font-size: calc(20 / 375* 100vw);
    font-weight: bold;
    line-height: calc(27 / 20);
   }
  .summary2 {
    font-size: calc(30 / 375* 100vw);
    font-weight: bold;
    line-height: calc(40 / 30);
    color: #0D96A0;
    margin-top: 8px;
  }

  .main-textarea {
    top: unset;
    background-color: rgb(255, 255, 255, 0.7);
    z-index: 99;
    left: 0;
    bottom: 0;
    padding-left: calc(20 / 375* 100vw);
    padding-top: calc(16 / 375* 100vw);
    width: calc(311 / 375 *100vw);
    height: calc(150 / 375 *100vw);
  }

    /* about */
  #about {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .about-title {
    font-size: 2.5rem;
    line-height: calc(35 / 25);
    margin-bottom: 0;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    line-height: calc(35 / 25);
    margin-bottom: 0;
    text-align: center;
  }
  .footpath {
    position: absolute;
    width: 68px;
    height: 65px;
    top: calc(265 / 375* 100vw);
    left: calc(262 / 375* 100vw);
  }
  .about-text {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    text-align: left;
    margin-top: 16px;
  }
  p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    text-align: left;
  }

    /* .strength */
  #strength {
    padding-top: 45px;
    padding-bottom: 44px;
  }
  .strength-contents {
    margin-top: 48px;
  }
  .strength figure {
    flex-flow: column;
  }
  .strength figure:nth-of-type(1),
  .strength figure:nth-of-type(3) {
    flex-flow: column-reverse;
  }
  .strength figure picture {
    width: 100%;
  }
  .strength figure figcaption {
    width: 100%;
    padding: 0;
  }
  .strength figure:nth-of-type(2) {
    margin: 50px 0;
  }
  .strength figure:nth-of-type(2) figcaption {
    padding: 0;
  }
  .summary1 {
    font-size: 2.0rem;
    line-height: calc(30 / 20);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 17px;
  }
  h3 {
    font-size: 2.0rem;
    line-height: calc(30 / 20);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 17px;
  }
  .summary3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(30 / 16);
    margin-top: 8px;
  }

  /* service */
  #service {
    padding-top: 47px;
    padding-bottom: 45px;
  }
  .service-flex {
    display: block;
    margin-top: 47px;
  }
  .service-box {
    width: 100%;
    margin-top: 42px;
  }
  .service-name {
    line-height: calc(30 / 20);
    margin-top: 21px;
  }
  h3 {
    line-height: calc(30 / 20);
    margin-top: 21px;
  }
  .service-about {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    margin-top: 8px;
  }

  /* news */
  h5 {
    margin: 0 165px 0 0;
  }

  .news-item {
    display: block;
  }


  #news dl {
    display: block;
    padding: 24px 0 26px 9px;
  }
  /* #news dl dt { */
  .news-item {
    margin: 0;
    width: 100%;
    margin-top: 2px;
  }
  /* #news dl h3 { */
  .news-item h3 {
    margin: 0;
    width: 100%;
    margin-top: 2px;
    text-align: left;
  }
  /* #news dl dd:nth-of-type(2) { */
  .news-item p {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }


  /* time[datetime="0000-00-00"] { */
  .news-item time {
    width: 100%;
    display: block;
    font-size: 1.7rem;
    line-height: calc(25/ 17 );
    font-weight: bold;
    margin-left: 0;
  }



/* .information-mail a {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: nowrap;
  display: inline;
} */


  /* contact */
  #contact {
    padding-top: 47px;
    padding-bottom: 50px;
  }
  .contact-head {
    margin-top: 38px;
    line-height: calc(30 / 16);
  }
  .contact p {
    text-align: left;
    font-size: 1.6rem;
  }
  .contact form {
    margin-top: 20px;
  }
  .contact form table tr {
    flex-flow: column;
  }
  #contact form table tr th {
    padding: 16px 0 0;
  }
  .contact form table tr td {
    padding: 5px 0;
    width: calc(325 / 375* 100vw);
  }

  .contact form table tr td input {
    min-width: 100%;
  }
  .contact form table tr td textarea {
    min-width: 100%;
  }

  #contact form table tr th {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    display: block;
    width: 100%;
  }
  .contact form .button {
    width: calc(325 / 375* 100vw);
    font-size: 2.0rem;
    letter-spacing: 8px;
    margin: 36px 0 auto;
    height: 41px;
  }
  .space2 {
    padding-left: 0;
  }

  /* label {
    font-size: 1.8rem;
    line-height: calc(33 / 18); */
    /* ↓　合わせるためには使わない。中間域で左寄りになる！ */
    /* display: block;
    width: 100%;
  } */


  /* footer */
  #footer {
    padding-top: 41px;
    padding-bottom: 49px;
  }
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 1px solid #ffffff; */
    padding-bottom: 23px;
    width: 100%;
  }
  .border {
    max-width: 335px;
    width: 100%;
  }
  .footer-box a {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
  .footer-nav-list {
    column-gap: 18px;
    flex-wrap: wrap;
  }
  .footer-item a {
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  }
  .copyright {
  font-size: 1.6rem;
  line-height: calc(33 / 16);
  margin-top: 12px;
  }
  .footer-contents {
  margin-top: 31px;
  }
  .space1 {
    padding-left: 0.9em;
  }
}